@model CloudShop.Models.IndexViewModel

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Products</h1>
        </hgroup>
    </div>
</section>
}
<label for="items">Select a product from the list:</label>
@using (Html.BeginForm("Add","Home")) {
<select name="selectedItem" class="product-list" id="items" size="14">
    @foreach (string product in Model.Products) {
        <option value="@product">@product</option>
        }
</select>

    <a href="javascript:document.forms[0].submit();">Add item to cart</a>
    }
<p>@Html.ActionLink("Recycle", "Recycle", "Home")</p>